//! **************************************************************************
// Written by: Map P.28xd on Sun Nov 04 12:39:17 2012
//! **************************************************************************

SCHEMATIC START;
COMP "tri_state<10>" LOCATE = SITE "P6" LEVEL 1;
COMP "tri_state<11>" LOCATE = SITE "U7" LEVEL 1;
COMP "sync" LOCATE = SITE "V13" LEVEL 1;
COMP "tri_state<12>" LOCATE = SITE "V7" LEVEL 1;
COMP "PMODE_2" LOCATE = SITE "G11" LEVEL 1;
COMP "fdata<10>" LOCATE = SITE "F9" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "fdata<11>" LOCATE = SITE "N6" LEVEL 1;
COMP "fdata<12>" LOCATE = SITE "P7" LEVEL 1;
COMP "fdata<20>" LOCATE = SITE "V12" LEVEL 1;
COMP "fdata<13>" LOCATE = SITE "T4" LEVEL 1;
COMP "fdata<21>" LOCATE = SITE "U15" LEVEL 1;
COMP "mode_p<0>" LOCATE = SITE "D14" LEVEL 1;
COMP "fdata<14>" LOCATE = SITE "V4" LEVEL 1;
COMP "fdata<22>" LOCATE = SITE "V15" LEVEL 1;
COMP "fdata<30>" LOCATE = SITE "C6" LEVEL 1;
COMP "mode_p<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "fdata<15>" LOCATE = SITE "U8" LEVEL 1;
COMP "fdata<23>" LOCATE = SITE "T9" LEVEL 1;
COMP "fdata<31>" LOCATE = SITE "C7" LEVEL 1;
COMP "mode_p<2>" LOCATE = SITE "F12" LEVEL 1;
COMP "faddr<0>" LOCATE = SITE "N9" LEVEL 1;
COMP "fdata<16>" LOCATE = SITE "V8" LEVEL 1;
COMP "fdata<24>" LOCATE = SITE "V9" LEVEL 1;
COMP "faddr<1>" LOCATE = SITE "M10" LEVEL 1;
COMP "fdata<17>" LOCATE = SITE "U11" LEVEL 1;
COMP "fdata<25>" LOCATE = SITE "C13" LEVEL 1;
COMP "fdata<18>" LOCATE = SITE "V11" LEVEL 1;
COMP "fdata<26>" LOCATE = SITE "A13" LEVEL 1;
COMP "clk_out" LOCATE = SITE "D9" LEVEL 1;
COMP "fdata<19>" LOCATE = SITE "T12" LEVEL 1;
COMP "fdata<27>" LOCATE = SITE "F11" LEVEL 1;
COMP "fdata<28>" LOCATE = SITE "E11" LEVEL 1;
COMP "tri_state<0>" LOCATE = SITE "D12" LEVEL 1;
COMP "fdata<29>" LOCATE = SITE "D6" LEVEL 1;
COMP "tri_state<1>" LOCATE = SITE "C12" LEVEL 1;
COMP "tri_state<2>" LOCATE = SITE "B2" LEVEL 1;
COMP "fdata<0>" LOCATE = SITE "C10" LEVEL 1;
COMP "tri_state<3>" LOCATE = SITE "A2" LEVEL 1;
COMP "PMODE<0>" LOCATE = SITE "B14" LEVEL 1;
COMP "fdata<1>" LOCATE = SITE "C15" LEVEL 1;
COMP "tri_state<4>" LOCATE = SITE "R10" LEVEL 1;
COMP "PMODE<1>" LOCATE = SITE "A14" LEVEL 1;
COMP "fdata<2>" LOCATE = SITE "A15" LEVEL 1;
COMP "tri_state<5>" LOCATE = SITE "T10" LEVEL 1;
COMP "fdata<3>" LOCATE = SITE "B16" LEVEL 1;
COMP "tri_state<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "fdata<4>" LOCATE = SITE "A16" LEVEL 1;
COMP "tri_state<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "fdata<5>" LOCATE = SITE "E7" LEVEL 1;
COMP "tri_state<8>" LOCATE = SITE "A11" LEVEL 1;
COMP "slcs" LOCATE = SITE "A7" LEVEL 1;
COMP "fdata<6>" LOCATE = SITE "E8" LEVEL 1;
COMP "tri_state<9>" LOCATE = SITE "N5" LEVEL 1;
COMP "fdata<7>" LOCATE = SITE "B12" LEVEL 1;
COMP "fdata<8>" LOCATE = SITE "A12" LEVEL 1;
COMP "fdata<9>" LOCATE = SITE "G9" LEVEL 1;
COMP "flaga" LOCATE = SITE "T7" LEVEL 1;
COMP "flagb" LOCATE = SITE "M11" LEVEL 1;
COMP "flagc" LOCATE = SITE "N11" LEVEL 1;
COMP "sloe" LOCATE = SITE "P8" LEVEL 1;
COMP "flagd" LOCATE = SITE "N8" LEVEL 1;
COMP "slrd" LOCATE = SITE "R7" LEVEL 1;
COMP "pktend" LOCATE = SITE "M8" LEVEL 1;
COMP "slwr" LOCATE = SITE "N7" LEVEL 1;
COMP "int_n" LOCATE = SITE "F10" LEVEL 1;
COMP "RESET" LOCATE = SITE "B11" LEVEL 1;
SCHEMATIC END;

