
#Created by Constraints Editor (xc6slx45t-fgg484-3) - 2018/12/11
NET "CLOCK" TNM_NET = "CLOCK";
TIMESPEC TS_CLOCK = PERIOD "CLOCK" 40 ns HIGH 50 %;

# PlanAhead Generated physical constraints 

NET "COUNT_OUT[0]" LOC = D17;
NET "COUNT_OUT[1]" LOC = AB4;
NET "COUNT_OUT[2]" LOC = D21;
NET "COUNT_OUT[3]" LOC = W15;
NET "CLOCK" LOC = AB13;
NET "DIRECTION" LOC = C18;
